.scrollbar-hover {
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.08) transparent;
}

/* Chrome, Edge, Safari */
.scrollbar-hover::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-hover::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 6px; /* spazio sopra/sotto */
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 9999px;
}

/* Allo stato hover */
.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

/* nasconde scrollbar su tutti i browser */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}